<!-- Bookmark Modal -->
<div class="modal fade" id="debookmarkModal" tabindex="-1" aria-labelledby="debookmarkModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="debookmarkModalLabel">Bookmark Modal</h5>
            </div>
            <div class="modal-body">
                <label for="bookmark_name" class="col-form-label"><strong>Available
                    Bookmarks</strong></label>
                {% for label in request.user.profile.available_labels %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="bookmark-checkbox"
                               value="{{ label }}" id="bookmark-{{ label }}">
                        <label class="form-check-label">
                            {{ label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                        onclick="return bookmarkPost('update')">
                    Update
                </button>
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        onclick="return bookmarkPost('delete')">
                    De-Bookmark
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
