{% extends "base_inside.html" %}

{% block content %}
<div class="profile-content">
    <!-- begin tab-content -->
    <div class="tab-content p-0">
        <!-- begin #profile-post tab -->
        <div class="tab-pane active" id="profile-post">
            <!-- begin timeline -->
            <ul class="timeline">
                {% for post_owner_profile, post in following_profile_list_with_posts %}
                <li>
                    {% include "post_container.html" with post=post %}
                </li>
                {% empty %}
                <li>
                    <div class="timeline-icon">
                        <a href="javascript:;">&nbsp;</a>
                    </div>
                    <div class="timeline-body">
                        No posts found on your feed.
                    </div>
                </li>
                {% endfor %}

                {% include "post_edit_modal.html" %}


            </ul>
            <!-- end timeline -->
        </div>
        <!-- end #profile-post tab -->
    </div>
    <!-- end tab-content -->
</div>
<!-- end profile-content -->
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}