{% load static %}
<header class="navbar fixed-top navbar-expand-lg py-2" style="background-color: #006257;"
        aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">
            <img src="{% static 'assets/images/logo/svg/logo-no-background.svg' %}" width="100"
                 class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-md-center" id="navbarNav">
            <br>
            <form type="search" method="POST" id="search-form" action="{% url 'core:search' %}">
                {% csrf_token %}
                <input class="form-control me-0 input" type="search" placeholder="Search" aria-label="Search"
                       name="keyword">
            </form>
            <button type="submit" form="search-form" class="btn btn-primary button ms-2" id="search-button">
                <i class="fas fa-search"></i>
            </button>
            <ul class="navbar-nav position-relative ms-0 me-auto">
                <li class="nav-item">
                    <a href="/feed" class="nav-link px-3 text-white">Feed</a>
                </li>
                <!-- # TODO: Implement Discover -->
                <li class="nav-item">
                    <a href="{% url 'core:tags_index' %}" class="nav-link px-3 text-white">Tags</a>
                </li>
                <!-- # TODO: Implement Spaces -->
                <li class="nav-item">
                    <a href="#" class="nav-link px-3 text-white">Spaces</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <!-- <img width="35" height="35" src="{{request_owner_user_profile.profile_image.url}}" class="header-avatar" alt="Dropdown"> -->
                </a>
                <div class="dropdown-menu" style="background-color: #006257;" aria-labelledby="dropdown03">
                    <a class="dropdown-item text-white"
                       href="{% url 'core:profile' profile_owner_username=request.user.username %}">{{ request.user.username }}</a>
                    <a class="dropdown-item text-white" href="/settings">Settings</a>
                    <a class="dropdown-item text-white" href="about/">About</a>
                    <a class="dropdown-item text-white" href="{% url 'core:logout' %}">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav position-relative ms-auto me-0">
            <li class="nav-item">
                <a href="{% url 'core:profile' profile_owner_username=request.user.username %}"
                   class="nav-link px-3 text-white">
                    <img width="40" height="40" src="{{ request.user.profile.profile_image.url }}"
                         class="header-avatar"
                         alt="Dropdown">
                </a>
            </li>
        </ul>
    </div>
</header>