{% extends "base_inside.html" %}

{% block content %}
<!-- begin profile -->
<div class="profile" style="margin-top:-17px">
    <div class="profile-header">
        <!-- BEGIN profile-header-cover -->
        <div class="profile-header-cover">
            <img src="{{ profile_owner_user_profile.background_image.url }}" alt="">
        </div>
        <!-- END profile-header-cover -->
        <!-- BEGIN profile-header-content -->
        <div class="profile-header-content">
            <!-- BEGIN profile-header-img -->
            <div class="profile-header-img">
                <img src="{{ profile_owner_user_profile.profile_image.url }}" alt="">
            </div>
            <!-- END profile-header-img -->
            <!-- BEGIN profile-header-info -->
            <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">@{{ profile_owner_user.username }}</h4>
                <p class="m-b-10">{{ profile_owner_user_profile.bio }}</p>
                {# TODO: Make an if else loop for button changes and visibility for visitors#}
                {% if profile_owner_user.username == request_owner_user.username %}
                <a href="#" class="btn btn-sm btn-info mb-2" style="visibility: hidden;">Follow</a>
                {% else %}
                {% if request_owner_user_profile.id_user in profile_owner_user_profile.followers %}
                <a href="/follow?profile_owner_id_user={{ profile_owner_user_profile.id_user }}"
                    class="btn btn-sm btn-info mb-2">Unfollow</a>
                {% else %}
                <a href="/follow?profile_owner_id_user={{ profile_owner_user_profile.id_user }}"
                    class="btn btn-sm btn-info mb-2">Follow</a>
                {% endif %}
                {% endif %}
                <p class="m-b-5 pull-right">{{ num_followers }} Followers {{ num_following }}
                    Following {{ num_posts }} Posts</p>
            </div>
            <!-- END profile-header-info -->
        </div>
        <!-- END profile-header-content -->
        <!-- BEGIN profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-post" target="__blank" class="nav-link_">POSTS</a>
            </li>
            <li class="nav-item"><a href="#bookmarks" target="__blank" class="nav-link_">BOOKMARKS</a>
            </li>
            {% if profile_owner_user.username == request_owner_user.username %}
            <li class="nav-item"><a href="#settings" target="__blank" class="nav-link_">SETTINGS</a>
            </li>
            {% endif %}
        </ul>
        <!-- END profile-header-tab -->
    </div>
</div>
<!-- end profile -->
<!-- begin profile-content -->
<div class="profile-content">
    <!-- begin tab-content -->
    <div class="tab-content p-0">
        <!-- begin #profile-post tab -->
        <div class="tab-pane active" id="profile-post">
            <!-- begin timeline -->
            <ul class="timeline">
                {% for post in posts %}
                <li>
                    {% include "post_container.html" with post=post %}
                </li>
                {% endfor %}
                {% include "post_edit_modal.html" %}

                <li>
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                        <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                        Loading...
                    </div>
                </li>
            </ul>
            <!-- end timeline -->
        </div>
        <!-- end #profile-post tab -->
    </div>
    <!-- end tab-content -->
</div>
<!-- end profile-content -->
{% endblock %}