{% extends "base_inside.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'core/css/search.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="shadow"
         style="margin-left: 23%; margin-right: 17%; background: #fff; position: relative; border-radius: 6px;">
        <form id="space_search_form" method="POST" action="{% url 'core:spaces_search' %}">
            {% csrf_token %}
            <div class="input-group input-group-sm p-2">
                <input name="form_name" type="hidden" id="form-name" value="space-search-form">
                <input type="text" name="space_name_to_be_searched" class="form-control rounded me-2"
                       placeholder="Search Results for keyword {{ space_name }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" form="space_search_form"
                            onclick="return checkform_spaces()">Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row gutters-sm">
        <div class="tab-content mt-xxl-2" id="pills-tabContent">
            <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="pills-home-tab">
                {% if spaces|length != 0 %}
                    {% for space in spaces %}
                        <section class="search-result-item w-50 mt-5 mb-5 mx-auto">
                            <a class="image-link disabled" href="#">
                                <img class="image" src="{{ space.avatar.url }}" style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class="search-result-item-heading">
                                            <a href="{% url 'core:space_posts' space_name=space.name %}">
                                                {{ space.name }}
                                            </a>
                                        </h4>
                                        <p class="info">Created at {{ space.created }}</p>
                                        <p class="description">{{ space.description }}</p>
                                    </div>
                                    <div class="col-sm-3 text-align-center">
                                        <p class="fs-mini text-muted"
                                           id="subscribers-{{ space.name }}" ´
                                        >{{ space.subscribers.all|length }}
                                            Subscribers
                                        </p>
                                        {% if user in space.subscribers.all %}
                                            <a style="cursor: pointer;"
                                               onclick="join('{{ space.name }}')"
                                               id="joinButton-{{ space.name }}"
                                               class="btn btn-primary btn-info btn-sm">
                                                Joined
                                            </a>
                                        {% else %}
                                            <a style="cursor: pointer;"
                                               onclick="join('{{ space.name }}')"
                                               id="joinButton-{{ space.name }}"
                                               class="btn btn-primary btn-info btn-sm">
                                                Join
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        let input = document.querySelector('input[name="space_name_to_be_searched"]');
        let button = document.querySelector('button[type="submit"]');

        button.disabled = true; //setting button state to disabled

        input.addEventListener("input", stateHandle);

        function stateHandle() {
            if (input.value === "") {
                button.disabled = true; //button remains disabled
            } else {
                button.disabled = false; //button is enabled
            }
        }


        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-F1RTS0P1CD');</script>
    </script>
{% endblock %}