{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkMe</title>
    <link 
    href="{% static 'core/css/bootstrap.css' %}" 
    rel="stylesheet">
  </head>
  <body>
  <header>
      <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary py-3 " id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1 font-weight-normal " href="">LinkMe</a>
        <!-- Button for collapsed navbar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target= "#navbarNav">
          <span class="navbar-toggler-icon"></span> -->
        </button>
        <!-- Collapsed navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto h6">
            <li class="nav-item"><a href="/signup" class="nav-link text-white">Sign Up</a></li> 
            <li class="nav-item"><a href="/signin" class="nav-link text-white">Sign In</a></li>
          </ul>
        </div>
      </div> 
    </nav>
  </header>
  <main class="container">
    <div><img src="{% static 'assets/images/mockups/mockup_1.png' %}" alt="" class="img-fluid"></div>
    <div>
      <article>
        <h2>Lorem Ipsum</h2>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi repudiandae possimus culpa veniam amet natus consequatur sapiente recusandae sequi aut dolor, totam ut, debitis saepe eum eveniet ab quis ullam.
        </p>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi repudiandae possimus culpa veniam amet natus consequatur sapiente recusandae sequi aut dolor, totam ut, debitis saepe eum eveniet ab quis ullam.
        </p>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi repudiandae possimus culpa veniam amet natus consequatur sapiente recusandae sequi aut dolor, totam ut, debitis saepe eum eveniet ab quis ullam.
        </p>
      </article>
    </div>
    <footer class="footer text-center bg-light py-3">
      <div class="container">
        <span cl ass="text-muted">LinkMe</span>
      </div>
    </footer>
  </main>
    </div>
  </body>
</html>