{% extends "base_inside.html" %}

{% block content %}
    <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">
            <!-- begin #profile-post tab -->
            <div class="tab-pane active" id="profile-post">
                <!-- begin timeline -->
                <ul class="timeline">
                    {% if followings_posts|length == 0 %}
                        <li>
                            <div class="timeline-icon">
                                <a href="javascript:;"></a>
                            </div>
                            <div class="timeline-body">
                                <strong>No posts found on your feed.</strong>
                            </div>
                        </li>
                    {% else %}
                        {% for post in followings_posts %}
                            <li>
                                {% include "post_container.html" with post=post %}
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% include "post_edit_modal.html" %}
                    <li>
                        <!-- begin timeline-icon -->
                        <div class="timeline-icon">
                            <a href="javascript:;">&nbsp;</a>
                        </div>
                        <!-- end timeline-icon -->
                        <!-- begin timeline-body -->
                        <div class="timeline-body">
                            <b>END</b>
                        </div>
                    </li>
                </ul>
                <!-- end timeline -->
            </div>
            <!-- end #profile-post tab -->
        </div>
        <!-- end tab-content -->
    </div>
    <!-- end profile-content -->
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}