{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="login">
  <div>
    <style>
        h5{
            color: rgb(0, 9, 94);
        }
    </style>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
  </div>
  <h1 class="text-center">Welcome to LinkMe!</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <form class="needs-validation">
      <div class="form-group was-validated">
          <!-- <label class="form-label" for="username">Username</label> -->
          <input class="form-control" type="text" name="username" placeholder="Username" id="username" required>
          <div class="invalid-feedback">
              Please enter your Username
          </div>
      </div>
      <div class="form-group was-validated">
          <!-- <label class="form-label" for="password">Password</label> -->
          <input class="form-control" type="text" name="password" placeholder="Password" id="password" required>
          <div class="invalid-feedback">
              Please enter your Password
          </div>
      </div>
      <input class="btn btn-success w-100" type="submit" value="SIGN IN">
      <!-- <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button> -->
      <div class="text">
        <p class="text-base"></p>
      </div>
      <div class="text-center mt-1 space-x-2">
        <p class="text-base"> Have you not registered yet? <a href="/signup" class=""> Create an account. </a></p>
      </div>
    </form>
  </form>
</div>
{% endblock %}