{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block _navbar %}
<div class="navbar-collapse collapse justify-content-md-center" id="navbarNav">
  <br>
  <form type="search">
      <input class="form-control me-0" type="search" placeholder="Search" aria-label="Search">
  </form>
  <ul class="navbar-nav position-relative ms-0 me-auto">
        <li class="nav-item">
          <a href="" class="nav-link px-3 text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link px-3 text-white">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link px-3 text-white">About</a>
        </li>
  </ul>
  <ul class="navbar-nav position-relative me-0">
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-gray disabled" aria-current="page" href="/signin" >Sign In</a>
    </li>  
  </ul>
</div>
{% endblock %}
<br>
{% block content %}
<div class="login">
  <h1 class="text-center mb-0">
    Welcome to the LinkMe!
  </h1>
  <!-- <form action="" method="POST"> -->
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input class="form-control mb-2" type="text" name="username" placeholder="Username" id="username" required autofocus>
      <input class="form-control mb-2" type="password" name="password" placeholder="Password" id="password" required autofocus>
    </div>
    <input class="btn btn-success w-100 mb-2" type="submit" value="SIGN IN">
    <div class="text-center mb-auto" >
      <a href="/reset_password" style="font-size: 1rem;color: gray;"> Forgot your Password?</a> 
      <br>
      <a href="/signup" style="font-size: 1rem;color: gray;"> Create an account </a>
    </div>
  </form>
</div>
<p class="text-center mt-1 mb-0" style="font-size: 0.6rem;color:black;font-weight: bold;">© SWE573 Fall'22</p>
{% endblock %}
