{% load static %}
<!-- https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkMe</title>
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/profile.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url('../../static/assets/images/bg/stacked-peaks-haikei-1.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<script type='text/javascript' src='{% static "core/js/bootstrap.bundle.min.js" %}'></script>
<header class="navbar fixed-top navbar-expand-lg py-2" style="background-color: #006257;"
        aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">
            <img src="{% static 'assets/images/logo/svg/logo-no-background.svg' %}" width="100"
                 class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-md-center" id="navbarNav">
            <br>
            <form type="search" method="POST" id="search-form" action="{% url 'core:search' %}">
                {% csrf_token %}
                <input class="form-control me-0 input" type="search" placeholder="Search" aria-label="Search"
                       name="keyword">
            </form>
            <button type="submit" form="search-form" class="btn btn-primary button" id="search-button">
                <i class="fas fa-search"></i>
            </button>
            <ul class="navbar-nav position-relative ms-0 me-auto">
                <li class="nav-item">
                    <a href="/feed" class="nav-link px-3 text-white">Feed</a>
                </li>
                <!-- # TODO: Implement Discover -->
                <li class="nav-item">
                    <a href="{% url 'core:tags' tag_name=" " %}" class="nav-link px-3 text-white">Tags</a>
                </li>
                <!-- # TODO: Implement Spaces -->
                <li class="nav-item">
                    <a href="" class="nav-link px-3 text-white">Spaces</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <!-- <img width="35" height="35" src="{{request_owner_user_profile.profile_image.url}}" class="header-avatar" alt="Dropdown"> -->
                </a>
                <div class="dropdown-menu" style="background-color: #006257;" aria-labelledby="dropdown03">
                    <a class="dropdown-item text-white"
                       href="{% url 'core:profile' profile_owner_username=request_owner_user_profile.user.username %}">Profile</a>
                    <a class="dropdown-item text-white" href="/settings">Settings</a>
                    <a class="dropdown-item text-white" href="#">About</a>
                    <a class="dropdown-item text-white" href="{% url 'core:logout' %}">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav position-relative ms-auto me-0">
            <li class="nav-item">
                {#                <a href="profile?profile_owner_username={{ request_owner_user_profile.username }}" class="nav-link px-3 text-white">#}
                <a href="{% url 'core:profile' profile_owner_username=request_owner_user_profile.user.username %}"
                   class="nav-link px-3 text-white">
                    <img width="40" height="40" src="{{ request_owner_user_profile.profile_image.url }}"
                         class="header-avatar"
                         alt="Dropdown">
                </a>
            </li>
        </ul>
    </div>
</header>
body > div.container-xxl.bd-gutter.mt-3.my-md-4.bd-layout
body > div.container-xxl.bd-gutter.mt-3.my-md-4.bd-layout

<div class="container-sm bd-gutter mt-3 my-md-4 bd-layout">
    <hr>
    <div class="row">
        {#        # TODO: Fix this form#}
        <div class="col-md-6 mx-auto">
            <form id="space_search_form" method="POST" action="">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                    <input name="form_name" type="hidden" id="form-name" value="space-search-form">
                    <input type="text" name="space_name_to_be_searched" class="form-control"
                           placeholder="Search for Spaces">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" form="space_search_form"
                                onclick="return checkform_spaces()">Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane active" id="profile-post">
                            <!-- begin timeline -->
                            <ul class="timeline">
                                {% for post_owner_profile, post in post_owner_profile_list_with_posts %}
                                    <li>
                                        <!-- begin timeline-time -->
                                        <div class="timeline-time">
                                            <span class="date">{{ post.created_at.date }}</span>
                                            <span class="time">{{ post.created_at.time }}</span>
                                        </div>
                                        <!-- end timeline-time -->
                                        <!-- begin timeline-icon -->
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <!-- end timeline-icon -->
                                        <!-- begin timeline-body -->
                                        <div class="timeline-body">
                                            <div class="timeline-header">
                                                <span class="userimage"><img
                                                        src="{{ post_owner_profile.profile_image.url }}"
                                                        alt=""></span>
                                                <span class="username"><a
                                                        href="{% url 'core:profile' profile_owner_username=post.owner_username %}">{{ post.owner_username }}</a> <small></small></span>
                                                <span class="pull-right text-muted"> {{ post.num_of_bookmarks }}</span>
                                                <a href="/book_post?post_id={{ post.post_id }}">
                                                <span class="pull-right text-muted ">
                                                    {% if request_owner_user_profile.id_user in post.bookmarked_by %}
                                                        <img src="{% static 'assets/images/logo/svg/bookmarks-fill.svg' %}"
                                                             alt="Bootstrap" width="30" height="30">
                                                    {% else %}
                                                        <img src="{% static 'assets/images/logo/svg/bookmarks.svg' %}"
                                                             alt="Bootstrap" width="30" height="30">
                                                    {% endif %}
                                                    &nbsp
                                                </span>
                                                </a>
                                                <span class="username">
                                                    {% for space in post.spaces.all %}
                                                        <a style="color: blue;"
                                                           href="{% url 'core:spaces' space_name=space.name %}"
                                                           class="m-r-15 text-inverse-lighter pull-right"><i
                                                                class="bi bi-rocket-takeoff-fill">
                                                            </i>{{ space.name }}
                                                        </a>
                                                        <a>&nbsp;</a>
                                                    {% endfor %}
                                                </span>
                                            </div>
                                            <div class="timeline-content">

                                                <div class="container">
                                                    {% if post.title %}
                                                        <div class="card mb-3" style="width: 550px;">
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6">
                                                                    <img src="{{ post.preview_image }}"
                                                                         class="card-img-top img-fluid" alt="...">
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">{{ post.title }}</h5>
                                                                        <p class="card-text">{{ post.description }}</p>
                                                                        <a id="link_btn" href="{{ post.link }}"
                                                                           class="btn btn-primary">Go To Website</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <p>
                                                            {{ post.link }}
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="timeline-likes">
                                                <div class="stats">
                                                    <p style="font-size: 15px;">
                                                        <strong>{{ post.caption }}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="timeline-footer">
                                                {% for tag in post.tags.all %}
                                                    <a href="{% url 'core:tags' tag_name=tag.name %}"
                                                       class="m-r-15 text-inverse-lighter pull-left"><i
                                                            class="bi bi-tags-fill"></i>{{ tag.name }} </a>
                                                    <a>&nbsp;</a>
                                                {% endfor %}
                                                {% if post.owner_username == request_owner_user_profile.user.username %}
                                                    <a href="/delete_post?post_id={{ post.post_id }}"
                                                       class="m-r-15 text-inverse-lighter pull-right"><i
                                                            class="fa-solid fa-trash fa-fw fa-lg m-r-3"></i>Delete</a>
                                                    <a>&nbsp;</a>
                                                    <a href="" class="m-r-15 text-inverse-lighter pull-right"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#postUpdateModal"><i
                                                            class="button fa-regular fa-file-pen fa-fw fa-lg m-r-3"></i>Edit</a>
                                                {% endif %}
                                            </div>
                                            {#                                    Edit Modal in timeline footer#}
                                            <div class="modal fade" id="postUpdateModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Update the
                                                                Post</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="" method="POST" id="post_update_form">
                                                                {% csrf_token %}
                                                                <input name="form_name" type="hidden" id="form-name"
                                                                       value="post-update-form">
                                                                <input name="post_id" type="hidden" id="form-name"
                                                                       value="{{ post.post_id }}">
                                                                <div class="form-group text-secondary">
                                                                    <label for="link"
                                                                           class="col-form-label"><strong>Link</strong></label>
                                                                    <input name="link" type="text" class="form-control"
                                                                           id="link" placeholder="{{ post.link }}">
                                                                    <hr>
                                                                    <label for="caption"
                                                                           class="col-form-label"><strong>Caption</strong></label>
                                                                    <textarea name="caption" class="form-control"
                                                                              id="caption"
                                                                              placeholder="{{ post.caption }}"></textarea>
                                                                </div>
                                                                <div style="display: flex;">
                                                                    {# Implementation of Tags #}
                                                                    <div class="dropdown"
                                                                         style="display: inline-block;">
                                                                        <button class="btn btn-default dropdown-toggle"
                                                                                type="button" data-bs-toggle="dropdown"
                                                                                aria-haspopup="true"
                                                                                aria-expanded="true"
                                                                                aria-label="Tag select">
                                                                            <span id="tagLabel">Select Tags</span>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu ml-2">
                                                                            {% for tag in available_tags %}
                                                                                {% if tag.name != ' ' %}
                                                                                    <li>
                                                                                        <input type="checkbox"
                                                                                               id="{{ tag.name }}"
                                                                                               name="tag-{{ forloop.counter0 }}"
                                                                                               value="{{ tag.name }}"
                                                                                                {% if tag in post.tags.all %}
                                                                                               checked
                                                                                                {% endif %}
                                                                                        >
                                                                                        <label for="{{ tag.name }}">{{ tag.name }}</label>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>

                                                                    {# Implementation of Spaces #}
                                                                    <div class="dropdown"
                                                                         style="display: inline-block;">
                                                                        <button class="btn btn-default dropdown-toggle"
                                                                                type="button" data-bs-toggle="dropdown"
                                                                                aria-haspopup="true"
                                                                                aria-expanded="true"
                                                                                aria-label="Space select">
                                                                            <span id="spaceLabel">Select Space</span>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu ml-2">
                                                                            {% for space in available_spaces %}
                                                                                {% if space.name != " " %}
                                                                                    <li>
                                                                                        <input type="radio"
                                                                                               id="space"
                                                                                               name="space"
                                                                                               value="{{ space.name }}"
                                                                                                {% if space in post.spaces.all %}
                                                                                               checked
                                                                                                {% endif %}
                                                                                        >
                                                                                        <label for="space">{{ space.name }}</label>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="close" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel
                                                            </button>
                                                            <button type="submit" form="post_update_form"
                                                                    class="btn btn-primary"
                                                                    onclick="return checkform_validity()">Update Post
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end timeline-body -->
                                    </li>
                                {% endfor %}

                                <li>
                                    <!-- begin timeline-icon -->
                                    <div class="timeline-icon">
                                        <a href="javascript:;">&nbsp;</a>
                                    </div>
                                    <!-- end timeline-icon -->
                                    <!-- begin timeline-body -->
                                    <div class="timeline-body">
                                        Loading...
                                    </div>
                                </li>
                            </ul>
                            <!-- end timeline -->
                        </div>
                        <!-- end #profile-post tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end profile-content -->
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <button type="button" class="btn btn-light post-button" value="Post" role="img" data-bs-toggle="modal"
            data-bs-target="#postModal">
        <img src="{% static 'assets/images/logo/svg/pencil-square.svg' %}" alt="Bootstrap" width="32" height="32">
        <figcaption><strong>Post bLink</strong></figcaption>
    </button>
    <button type="button" class="btn btn-light tag-button" value="Post" role="img" data-bs-toggle="modal"
            data-bs-target="#spaceModal">
        <img src="{% static 'assets/images/logo/svg/pencil-square.svg' %}" alt="Bootstrap" width="32" height="32">
        <figcaption><strong>Create Space</strong></figcaption>
    </button>
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Post</h5>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="post_create_form">
                        {% csrf_token %}
                        <input name="form_name" type="hidden" id="form-name" value="post-create-form">
                        <div class="form-group text-secondary">
                            <label for="link" class="col-form-label"><strong>Link</strong></label>
                            <input name="link" type="text" class="form-control" id="link" placeholder="Enter the link">
                            <hr>
                            <label for="caption" class="col-form-label"><strong>Caption</strong></label>
                            <textarea name="caption" class="form-control" id="caption"
                                      placeholder="Enter the caption"></textarea>
                            <hr>
                            <div style="display: flex;">
                                {# Implementation of Tags #}
                                <div class="dropdown"
                                     style="display: inline-block;">
                                    <button class="btn btn-default dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            aria-label="Tag select">
                                        <span id="tagLabel">Select Tags</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu ml-2">
                                        {% for tag in available_tags %}
                                            {% if tag.name != ' ' %}
                                                <li>
                                                    <input type="checkbox"
                                                           id="{{ tag.name }}"
                                                           name="tag-{{ forloop.counter0 }}"
                                                           value="{{ tag.name }}"
                                                            {% if tag in post.tags.all %}
                                                           checked
                                                            {% endif %}
                                                    >
                                                    <label for="{{ tag.name }}">{{ tag.name }}</label>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                {# Implementation of Spaces #}
                                <div class="dropdown"
                                     style="display: inline-block;">
                                    <button class="btn btn-default dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            aria-label="Space select">
                                        <span id="spaceLabel">Select Space</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu ml-2">
                                        {% for space in available_spaces %}
                                            {% if space.name != " " %}
                                                <li>
                                                    <input type="radio"
                                                           id="space"
                                                           name="space"
                                                           value="{{ space.name }}"
                                                            {% if space in post.spaces.all %}
                                                           checked
                                                            {% endif %}
                                                    >
                                                    <label for="space">{{ space.name }}</label>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="close" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="post_create_form" class="btn btn-primary" onclick="return checkform();">
                        Create Post
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="spaceModal" tabindex="-1" role="dialog" aria-labelledby="createTagModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTagModalLabel">Create New Tag</h5>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="space_create_form">
                        {% csrf_token %}
                        <input name="form_name" type="hidden" id="form-name" value="space-create-form">
                        <div class="form-group text-secondary">
                            <label for="space_name" class="col-form-label"><strong>Space Name</strong></label>
                            <input name="space_name" type="text" class="form-control" id="space_name"
                                   placeholder="Enter the Space">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="close" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="space_create_form" class="btn btn-primary"
                            onclick="return checkform_create_spaces();">
                        Create Post
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
{#<!-- Prevents posting empty post-creating-form -->#}
<script type='text/javascript'>
    function checkform() {
        if (document.forms.post_create_form.link.value == "" || document.forms.post_create_form.caption.value == "") {
            alert("Please fill all fields");
            return false;
        } else {
            console.log(document.forms.post_create_form.link.value)
            document.post_create_form.submit();
            document.post_create_form.reset();
        }
    }
</script>
{#Prevents posting empty post-update-form#}
<script type='text/javascript'>
    function checkform_validity() {
        if (document.forms.post_update_form.link.value == "" & document.forms.post_update_form.caption.value == "") {
            alert("Please fill at least 1 field");
            return false;
        } else {
            console.log(document.forms.post_update_form.link.value)
            document.post_update_form.submit();
            document.post_update_form.reset();
        }
    }
</script>
{#<!-- Prevents posting empty post-creating-form -->#}
<script type='text/javascript'>
    function checkform_spaces() {
        if (document.forms.space_search_form.space_name_to_be_searched.value == "") {
            alert("Please fill all fields");
            return false;
        } else {
            document.space_search_form.submit();
            document.space_search_form.reset();
        }
    }
</script>
<script type='text/javascript'>
    function checkform_create_spaces() {
        if (document.forms.space_create_form.space_name.value == "") {
            alert("Empty tag cannot be created!");
            return false;
        } else {
            document.space_create_form.submit();
            document.space_create_form.reset();
        }
    }
</script>
{#//Program to disable or enable a button using javascript https://flexiple.com/javascript/disable-button-javascript/#}
<script>
    let input = document.querySelector(".input");
    let button = document.querySelector(".button");

    button.disabled = true; //setting button state to disabled

    input.addEventListener("change", stateHandle);

    function stateHandle() {
        if (document.querySelector(".input").value === "") {
            button.disabled = true; //button remains disabled
        } else {
            button.disabled = false; //button is enabled
        }
    }
</script>
</html>